@page "/agregar-usuario"
@rendermode InteractiveServer
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject IServicioAutorizacion ServicioAutorizacion
@inject CasoDeUsoUsuarioAlta CasoDeUsoUsuarioAlta
@inject CasoDeUsoUsuarioRegistrar CasoDeUsoUsuarioRegistrar
@inject NavigationManager Navegador

@if(!usuarioAutorizado)
{
    <PageTitle>SGE - Acceso denegado</PageTitle>
    <h3>Acceso denegado</h3>
    <p>No tienes permiso para ver este contenido.</p>
}
else
{
    <PageTitle>SGE - Agregar Usuario</PageTitle>
    <h3>Agregar Usuario</h3>

    <EditForm Model="@_added_user" OnValidSubmit="AgregarUsuarioValido">
        <div>
            <label for="nombre">Nombre:</label>
            <InputText id="nombre" @bind-Value="_added_user.Nombre" />
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <InputText id="apellido" @bind-Value="_added_user.Apellido" />
        </div>
        <div>
            <label for="email">Correo Electrónico:</label>
            <InputText id="email" @bind-Value="_added_user.Email" />
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <InputText id="contraseña" type="password" @bind-Value="_added_user.Contraseña" />
        </div>
        <button type="submit">Agregar</button>
    </EditForm>
}

@code {
    private Usuario usuario = new Usuario();
    private Usuario? _session_user;
    private AddUserModel _added_user = new AddUserModel();
    private bool usuarioAutorizado = false;

    protected override void OnInitialized()
    {
        _session_user = ServicioGestionDeSesion.ObtenerUsuario();
        usuarioAutorizado = _session_user != null && _session_user.EsAdmin;
    }

    private void AgregarUsuarioValido()
    {
        try
        {
            usuario.Nombre = _added_user.Nombre;
            usuario.Apellido = _added_user.Apellido;
            usuario.Email = _added_user.Email;
            usuario.Contraseña = _added_user.Contraseña;
            CasoDeUsoUsuarioAlta.Ejecutar(usuario, _session_user.Id);
            Navegador.NavigateTo("usuarios");
        }
        catch(Exception e)
        {
            Console.WriteLine("Usuario Invalido: " + e.Message);
        }
    }

    private class AddUserModel
    {
        public string? Nombre;
        public string? Apellido;
        public string? Email;
        public string? Contraseña;
    }
}
