@page "/editar-usuario/{Id:int?}"
@rendermode InteractiveServer
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject CasoDeUsoUsuarioConsultarPorId CasoDeUsoUsuarioConsultarPorId
@inject CasoDeUsoUsuarioModificacion CasoDeUsoUsuarioModificacion
@inject CasoDeUsoUsuarioEditarPerfil CasoDeUsoUsuarioEditarPerfil
@inject NavigationManager Navegador

@if(editandoPerfil)
{
    <PageTitle>SGE - Editar Mi Perfil</PageTitle>
    <h3>Editar Mi Perfil</h3>
}
else
{
    <PageTitle>SGE - Editar Usuario</PageTitle>
    <h3>Editar Usuario</h3>
    <h4>Modificando al Usuario "@_usuario.Nombre"</h4>
}

<EditForm Model="@_usuario" OnValidSubmit="ModificarUsuarioValido">
    <div>
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" @bind-Value="_usuario.Nombre" />
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <InputText id="apellido" @bind-Value="_usuario.Apellido" />
    </div>
    <div>
        <label for="email">Correo Electrónico:</label>
        <InputText id="email" @bind-Value="_usuario.Email" />
    </div>
    <div>
        <label for="contraseña">Contraseña:</label>
        <InputText id="contraseña" type="password" @bind-Value="_usuario.Contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</EditForm>

@code {
    Usuario _usuario = new Usuario();
    string? password;
    Usuario? _session_user;
    bool passwordCambiada = false;
    bool editandoPerfil = false;
    [Parameter] public int id { get; set; }

    protected override void OnInitialized()
    {
        _session_user = ServicioGestionDeSesion.ObtenerUsuario();
        try
        {
            _usuario = CasoDeUsoUsuarioConsultarPorId.Ejecutar(id);
            password = _usuario.Contraseña;
            _usuario.Contraseña = "";
            editandoPerfil = (_session_user.Id == _usuario.Id);
        }
        catch (Exception e)
        {
            Console.WriteLine("Error al cargar el usuario: " + e.Message);
            // Manejo de errores adicional si es necesario
        }
    }

    private void ModificarUsuarioValido()
    {
        try
        {
            passwordCambiada = (_usuario.Contraseña != "");
            if(!passwordCambiada)
            {
                _usuario.Contraseña = password;
            }
            if (editandoPerfil)
            {
                CasoDeUsoUsuarioEditarPerfil.Ejecutar(_usuario, _session_user.Id, passwordCambiada);
            }
            else
            {
                CasoDeUsoUsuarioModificacion.Ejecutar(_usuario, _session_user.Id, passwordCambiada);
            }

            Navegador.NavigateTo("/usuarios");
        }
        catch (Exception e)
        {
            Console.WriteLine("Usuario Invalido: " + e.Message);
        }
    }
}
