@page "/editar-usuario/{Id:int?}"
@rendermode InteractiveServer
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject CasoDeUsoUsuarioConsultarPorId CasoDeUsoUsuarioConsultarPorId
@inject CasoDeUsoUsuarioModificacion CasoDeUsoUsuarioModificacion
@inject CasoDeUsoUsuarioEditarPerfil CasoDeUsoUsuarioEditarPerfil
@inject NavigationManager Navegador

@if(!usuarioAutorizado)
{
    <h3>Acceso denegado</h3>
    <p>No tienes permiso para ver este contenido.</p>
}
else
{
    @if(editandoPerfil)
    {
        <PageTitle>SGE - Editar Mi Perfil</PageTitle>
        <h3>Editar Mi Perfil</h3>

        @if (!string.IsNullOrEmpty(errorMensaje))
        {
            <div class="alert alert-danger">@errorMensaje</div>
        }
        
    }
    else
    {
        <PageTitle>SGE - Editar Usuario</PageTitle>
        <h3>Editar Usuario</h3>
        
        @if (!string.IsNullOrEmpty(errorMensaje))
        {
            <div class="alert alert-danger">@errorMensaje</div>
        }

        <h4>Modificando al Usuario "@_usuario.Nombre"</h4>
    }

    <EditForm Model="@_edited_user" OnValidSubmit="ModificarUsuarioValido">
        <div>
            <label for="nombre">Nombre:</label>
            <InputText id="nombre" @bind-Value="_edited_user.Nombre" />
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <InputText id="apellido" @bind-Value="_edited_user.Apellido" />
        </div>
        <div>
            <label for="email">Correo Electrónico:</label>
            <InputText id="email" @bind-Value="_edited_user.Email" />
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <InputText id="contraseña" type="password" @bind-Value="_edited_user.Contraseña" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </EditForm>
}

@code {
    private bool usuarioAutorizado = false;

    private Usuario _usuario = new Usuario();
    private EditUserModel _edited_user = new EditUserModel();
    private Usuario? _session_user;
    private bool passwordCambiada = false;
    private bool editandoPerfil = false;
    [Parameter] public int id { get; set; }
    private string errorMensaje;

    protected override void OnInitialized()
    {
        _session_user = ServicioGestionDeSesion.ObtenerUsuario();
        usuarioAutorizado = _session_user != null;
        if(usuarioAutorizado)
        {
            try
            {
                _usuario = CasoDeUsoUsuarioConsultarPorId.Ejecutar(id);
                usuarioAutorizado = usuarioAutorizado && (_session_user.EsAdmin || _session_user.Id == _usuario.Id);
                if(usuarioAutorizado)
                {
                    _edited_user.Nombre = _usuario.Nombre;
                    _edited_user.Apellido = _usuario.Apellido;
                    _edited_user.Email = _usuario.Email;
                    editandoPerfil = (_session_user.Id == _usuario.Id);
                }
            }
            catch (Exception e)
            {
                Console.WriteLine("Error al cargar el usuario: " + e.Message);
                usuarioAutorizado = false;
                // Manejo de errores adicional si es necesario
            }
        }
    }

    private void ModificarUsuarioValido()
    {
        passwordCambiada = (_edited_user.Contraseña != null);
        _usuario.Nombre = _edited_user.Nombre;
        _usuario.Apellido = _edited_user.Apellido;
        _usuario.Email = _edited_user.Email;
        if(passwordCambiada)
        {
            _usuario.Contraseña = _edited_user.Contraseña;
        }
        try
        {
            if (editandoPerfil)
            {
                CasoDeUsoUsuarioEditarPerfil.Ejecutar(_usuario, _session_user.Id, passwordCambiada);
            }
            else
            {
                CasoDeUsoUsuarioModificacion.Ejecutar(_usuario, _session_user.Id, passwordCambiada);
            }

            Navegador.NavigateTo("/usuarios");
        }
        catch (Exception e)
        {
            errorMensaje = "Usuario Inválido: " + e.Message;
        }
    }

    private class EditUserModel
    {
        public string? Nombre;
        public string? Apellido;
        public string? Email;
        public string? Contraseña;
    }
}
