@inject IServicioGestionDeSesion ServicioGestionDeSesion

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if(u != null && u.EsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expedientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Expediente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tramites">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Trámites
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private Usuario? u = null;

    protected override void OnInitialized()
    {
        u = ServicioGestionDeSesion.ObtenerUsuario();
    }
}