@page "/agregar-expediente"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteAlta CasoDeUsoExpedienteAlta
@inject NavigationManager Navegador

<PageTitle>SGE - Agregar Expediente</PageTitle>
<h3>Agregar Expediente</h3>

<EditForm Model="@expediente" OnValidSubmit="AgregarExpedienteValido">
    <div>
        <label for="Caratula">Caratula:</label>
        <InputText id="caratula" @bind-Value="expediente.Caratula" />
    </div>

    <div class="form-group">
        <label for="Estado">Estado:</label>
        <InputSelect id="estado" class="form-control" @bind-Value="expediente.Estado">
            @foreach (var estado in Enum.GetValues(typeof(EstadoExpediente)))
            {
                <option value="@estado">@estado</option>
            }
        </InputSelect>
    </div>

    <button type="submit">Agregar</button>
</EditForm>

@code {
    private Expediente expediente = new Expediente();

    private void AgregarExpedienteValido()
    {
        try
        {
            CasoDeUsoExpedienteAlta.Ejecutar(expediente, 1);
            Navegador.NavigateTo("expedientes");
        }
        catch(Exception e)
        {
            Console.WriteLine("Expediente Invalido: " + e.Message);
        }
    }
}
