@page "/agregar-tramite"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteAlta CasoDeUsoTramiteAlta
@inject NavigationManager Navegador

<PageTitle>SGE - Agregar Tramite</PageTitle>
<h3>Agregar Tramite</h3>

<EditForm Model="@tramite" OnValidSubmit="AgregarTramiteValido">
    
    <div class="form-group">
        <label for="IDExpediente">ID Expediente:</label>
        <InputNumber id="idExpediente" @bind-Value="tramite.ExpedienteId" />
    </div>    

    <div>
        <label for="Contenido">Contenido:</label>
        <InputText id="contenido" @bind-Value="tramite.Contenido" />
    </div>

    <div class="form-group">
        <label for="Etiqueta">Etiqueta:</label>
        <InputSelect id="etiqueta" class="form-control" @bind-Value="tramite.Etiqueta">
            @foreach (var etiqueta in Enum.GetValues(typeof(EtiquetaTramite)))
            {
                <option value="@etiqueta">@etiqueta</option>
            }
        </InputSelect>
    </div>

    <button type="submit">Agregar</button>
</EditForm>

@code {
    private Tramite tramite= new Tramite();

    private void AgregarTramiteValido()
    {
        try
        {
            CasoDeUsoTramiteAlta.Ejecutar(tramite, 1);
            Navegador.NavigateTo("tramites");
        }
        catch(Exception e)
        {
            Console.WriteLine("Tramite Invalido: " + e.Message);
        }
    }
}
