@page "/"
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="d-flex align-items-center">
    <div class="me-auto">
        <h1>
            Bienvenido
            @if(u != null){
                @:, @u.Nombre
            }!
        </h1>
    </div>
</div>

<p>Este es el sistema de gestión de trámites y expedientes.</p>

@code 
{
    Usuario? u;
    protected override void OnInitialized()
    {
        u = ServicioGestionDeSesion.ObtenerUsuario();
        if(u == null)
        {
            Console.WriteLine("No hay un usuario con una sesion iniciada");
        }
        else
        {
            Console.WriteLine(u);
        }
    }
}