@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<p> Bienvenidos al sistema de gestión de trámites y expedientes.</p>
<button class="btn btn-primary" @onclick="Registrar">Registrarse</button>


@code{
    private void Registrar()
    {
        Navegador.NavigateTo("sign-in");
    }
}