@page "/"
@inject IServicioGestionDeSesion ServicioGestionDeSesion

<PageTitle>Home</PageTitle>

<h1>
    Hola,
    @if(u != null)
    {
        @u.Nombre;
    }
    else
    {
        @:bienvenido
    }!
</h1>

Welcome to your new app.

@code 
{
    Usuario? u;
    protected override void OnInitialized()
    {
        u = ServicioGestionDeSesion.ObtenerUsuario();
        if(u == null)
        {
            Console.WriteLine("No hay un usuario con una sesion iniciada");
        }
        else
        {
            Console.WriteLine(u);
        }
    }
}