@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject CasoDeUsoUsuarioIniciarSesion CasoDeUsoUsuarioIniciarSesion

<PageTitle>SGE - Iniciar Sesion</PageTitle>
<div class="mb-3">
    <h1>Iniciar Sesion</h1>
</div>

@if (!string.IsNullOrEmpty(errorMensaje))
{
    <div class="alert alert-danger">@errorMensaje</div>
}

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">

    <div class="mb-3">
        <label for="email" class="form-label">Correo Electr칩nico:</label>
        <InputText required id="email" class="form-control" @bind-Value="loginModel.Email" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contrase침a:</label>
        <InputText required id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMensaje;

    private void HandleLogin()
    {
        try 
        {
            Usuario u = CasoDeUsoUsuarioIniciarSesion.Ejecutar(loginModel.Email, loginModel.Password);
            if(u == null)
            {
                Console.WriteLine("No hay un usuario con sesion");
            }
            else
            {
                Console.WriteLine(u);
            }
            Navigation.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMensaje = "Inicio de sesi칩n fallido: " + e.Message;
        }
    }

    private class LoginModel
    {
        public string? Email { get; set; }
        public string? Password { get; set; }
    }
}
