@page "/modificar-expediente/{id:int}"
@rendermode InteractiveServer
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject CasoDeUsoExpedienteModificacion CasoDeUsoExpedienteModificacion
@inject CasoDeUsoExpedienteConsultarPorID CasoDeUsoExpedienteConsultarPorID
@inject NavigationManager Navegador

@if(_session_user == null)
{
    <PageTitle>SGE - Acceso denegado</PageTitle>
    <h3>Acceso denegado</h3>
    <p>Para ver este contenido debes iniciar sesion o registrarte.</p>
}
else
{
    <PageTitle>SGE - Modificar Expediente</PageTitle>
    <h3>Editar Expediente</h3>
    
    @if (!string.IsNullOrEmpty(errorMensaje))
    {
        <div class="alert alert-danger">@errorMensaje</div>
    }

    <EditForm Model="@expediente" OnValidSubmit="ModificarExpedienteValido">
        <div class="mb-3">
            <label for="Caratula" class="form-label">Caratula:</label>
            <InputText id="caratula" class= "form-control" @bind-Value="expediente.Caratula" />
        </div>

        <div class="mb-3">
            <label for="Estado" class="form-label">Estado:</label>
            <InputSelect id="estado" class="form-control" @bind-Value="expediente.Estado">
                @foreach (var estado in Enum.GetValues(typeof(EstadoExpediente)))
                {
                    <option value="@estado">@estado</option>
                }
            </InputSelect>
        </div>

        <button type="submit">Modificar</button>
    </EditForm>
}

@code {
    [Parameter] public int id { get; set; }
    private Expediente expediente = new Expediente();
    private Usuario? _session_user;
    private string errorMensaje;


    protected override void OnInitialized()
    {
        _session_user = ServicioGestionDeSesion.ObtenerUsuario();
        try
        {
            expediente = CasoDeUsoExpedienteConsultarPorID.Ejecutar(id);
        }
        catch (Exception e)
        {
            Console.WriteLine("Error al cargar el expediente: " + e.Message);
            // Manejo de errores adicional si es necesario
        }
    }

    private void ModificarExpedienteValido()
    {
        try
        {
            CasoDeUsoExpedienteModificacion.Ejecutar(expediente, _session_user.Id);
            Navegador.NavigateTo("expedientes");
        }   
        catch (Exception e)
        {
            errorMensaje = "Expediente Inválido: " + e.Message;
        }
    }
}